<!DOCTYPE html>
<html lang="ru">
<head><meta charset="UTF-8"><title>Admin</title></head>
<body>
<h1>Админка</h1>
<div id="content"></div>
<button id="logoutBtn" class="btn btn-danger">Выйти</button>

<script>
    //кнопка выхода
    document.getElementById('logoutBtn').addEventListener('click', async function (e) {
        e.preventDefault();
        try {
            // Вызов серверного logout для удаления httpOnly cookie
            await fetch('/timeDelivery/logout', {method: 'POST', credentials: 'include'});
        } catch (err) {
            // Можно обработать ошибку, если нужно
            console.error('Ошибка при выходе:', err);
        }
        // Очищаем localStorage
        localStorage.removeItem('token');
        localStorage.removeItem('roles');
        localStorage.removeItem('clientName');
        // На всякий случай пробуем удалить jwt-куку на клиенте
        document.cookie = "jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        // Редирект на страницу входа
        window.location.href = '/timeDelivery/'; // замените на ваш путь к странице логина
    });
</script>

</body>
</html>
